{% extends "CoreApp/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="{% static 'CoreApp/style.css' %}">


      <!-- CSS only bootstrap -->


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>


.button_div {
  position: absolute;
  top: 40%;
  left:45%;
}

.text_content_1 {
  position: fixed;
  top: 55%;
  left:28%;
  font-size: 18px;
  font-style: italic;
}
.text_content_2 {
  position: fixed;
  top: 59%;
  left:28%;
  font-size: 18px;
  font-style: italic;
}
.text_content_3 {
  position: fixed;
  top: 63%;
  left:28%;
  font-size: 18px;
  font-style: italic;
}
  </style>
    <div class="wrapper">
      <div class="sidebar">
        
        <ul>
          <li>
            <a href="{% url 'CoreApp:home' %}" >
                <span class="icon"><i class="fas fa-home"></i></span>
                <span class="item">Home</span>
            </a>
          </li>
          <li>
            <a href="{% url 'Authentication:logout' %}">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span class="item">Logout</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="section"> 
      <div class="top_navbar"> 
          <div class="hamburger">
              <a>
                  <i class="fas fa-bars" style="color:  #1BA098;"></i>
              </a>
          </div>
      </div>
    </div>


 {% if messages %}
 {% for message in messages %}
 <div class="alert alert-{{ message.tags }} alert-dismissible"  role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="True">&times;</span>
  </button> 
  {{ message }}
 </div>
 {% endfor %}
 {% endif %}

<div style="text-align: center;">
    <div class="button_div">
        <button type="button" class=" btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="font-size:medium">Upload Data</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'CoreApp:view_info' %}" class=" btn btn-info btn-lg" style="font-size:medium">View Info</a>
      </div>
    <div class = "text_content_1" > 
      <ul>
        <li style="color:white; font-size:larger;">Translation AI Make your content and apps multilingual with fast, dynamic machine translation.</li>
      </ul>
      <ul>
      </div>
      <div class = "text_content_2" > 
        <ul>
          <li style="color:white; font-size:larger;"> Translation API Basic uses Google’s neural machine translation technology .</li>
        </ul>
      </div>
      <div class = "text_content_3" > 
        <ul>
          <li style="color:white; font-size:larger;"> Apart from English It Support 4 Languages  (Hindi, Marathi, Punjabi, Telugu).</li>
        </ul>
      </div>
       
    
      
      
    
</div>

<!-- Modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Browse Excel File</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'CoreApp:validate_file' %}" method="POST" id="formsubmit" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <div class="custom-file">
                    <input type="file"  id="myFile" name="filename" style="color:black;" required>
                    <div class="row mb-4">
                      <div class="col">
                        
                      </div>
                    </div>
                  </div>
                </div>
               
                <button type="submit" id = uploadsubmit class="btn btn-dark btn-block mb-4">Submit</button>
              
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    var hamburger = document.querySelector(".hamburger");
        hamburger.addEventListener("click", function(){
            document.querySelector("body").classList.toggle("active");
        })
  </script>
{% endblock content %}